
.customer-card{
  margin: 1%;
}
.customer-card-image{
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}

.footer{
  position: absolute;
  height: 50px;
  bottom: 0px;
  width: 50%;
  padding-top: 1%;
}
.createButton{
  margin: 1%;
}


/* @media only screen and (max-width: 575px) {
  .mat-card {
  justify-content: center;
  }
} */

/* .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url();
} */
