<div class="container">
  <h1 class="title">Details</h1>
  <mat-dialog-content>
    <div class="element-details">
      <label class="col-12 col-md-4 label-description">First name:
      </label>
      <label class="col-12 col-md-8">{{customer.firstName}}</label>
    </div>
    <div class="element-details">
      <label class="col-12 col-md-4 label-description">Last name:
      </label>
      <label class="col-12 col-md-8">{{customer.lastName}}</label>
    </div>
    <div class="element-details">
      <label class="col-12 col-md-4 label-description">City:
      </label>
      <label class="col-12 col-md-8">{{customer.city}}</label>
    </div>
    <div class="element-details">
      <label class="col-12 col-md-4 label-description">Country:
      </label>
      <label class="col-12 col-md-8">{{customer.country}}</label>
    </div>
    <div class="element-details">
      <label class="col-12 col-md-4 label-description">Phone:
      </label>
      <label class="col-12 col-md-8">{{customer.phone}}</label>
    </div>
  </mat-dialog-content>
  <div class="row">
    <button class="btn btn-outline-danger" mat-dialog-close>Close</button>
  </div>
</div>
